body {
  font-family: "Roboto", sans-serif;
  
}
.navbar-nav .nav-item .nav-link {
  color: white;
}
.navbar-nav .nav-item .nav-link:hover {
  color: #ffc107;
}
.jumbotron h1 {
  font-weight: 300;
  font-size: 72px;
  color: #212529;
}
.card-body .card-text {
  margin: 0;
}
.card-body .btn {
  margin-top: 26px;
}
